<div class="jumbotron" ng-controller="SearchFormCtrl">
  <p class="lead">
    <input type="text" ng-model="keyword" placeholder="What do you need?">
    <a class="btn btn-lg btn-success" ng-href="#/" ng-click="doSearch()">Search!</a>
  </p>
</div>
<div ng-controller="ResultsViewerCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item" style="cursor: pointer;" ng-repeat="item in imageListService.available_images track by $index">
            <a ng-click="showImage(item)">
              {{item._title}}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <h2>{{metadata.title}}</h2>
        <p>
          <img ng-src="https://farm{{displayed_image._farm}}.staticflickr.com/{{displayed_image._server}}/{{displayed_image._id}}_{{displayed_image._secret}}.jpg">
        </p>
        <div ng-if="metadata">
          <p ng-if="metadata.description">
            {{metadata.description}}
          </p>
          <p>
            Photo Credit: {{metadata.owner._realname !== "" ? metadata.owner._realname : metadata.owner._username}}
          </p>
      </div>
    </div>
  </div>
</div>

